{
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "env": {
    "build": {
      "presets": [
        "@vue/app"
      ]
    },
    "test": {
      "plugins": [
        "@babel/plugin-transform-runtime",
        [
          "module-resolver",
          {
            "root": [
              "./src"
            ],
            "alias": {
              "~plugins": "plugins"
            }
          }
        ]
      ],
      "presets": [
        [
          "@babel/env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
